.TopBar {

    float: left;
}

table.Restaurant {
    background-color: white;
    float: left;
    width: 50%;
    height: 123.06px;
    border: 1px solid black;
    color: black;
}

.StoreName {
    font-size: large;
}

.LocationImage {
    width: 5%;

}

.StarImage {
    width: 5%;
}

table.Restaurant-ImagePart {
    float: left;
    width: 25%;
    margin: 0;
}

.Restaurant-Tag {
    float: right;
    display: inline;
    width: 63px;
    height: 12px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
}

.Restaurant-img {
    width: 345.45px;
    height: 123.06px;
    left: 83px;
}

.Restaurant-StoreName {
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
}